
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


    



main section img {
    width: 250px;
    height: 250px;
    margin-top: 100px;
    margin-left: 100px;
margin-right: 50px;
}
 
body header h1 {
    text-align: center;
    margin-top: 150px;
    font-family:'Indie Flower', cursive;
   font-size: 50px;
   color: crimson;
}
